<br>
<br>
<br>
<br>
<br>
<div class="col-md-12">
  <h2 style="float:right">Fecha: <%= @operative_note.created_at.strftime("%d-%b-%Y") %></h2>
  <h2 style="float:right"><%= @record.full_name %></h2>
  <h2 style="float:right"><%= @record.full_id %></h2>
</div>
<br>
<div class="col-md-12">
  <h1>Plan</h1>
  <p><%= @plan.description.html_safe %></p>
</div>

<div class="col-md-12">
  <h2>Procedimientos</h2>
  <ul>
    <% @procedures.each do |p| %>
      <li style="list-style-type: circle;"><%= p.name %></li>
    <% end %>
  </ul>
</div>

<div class="col-md-12">
  <h2>Hallazgos</h2>
  <% if @operative_note.find.nil? %>
    <p>No se poseen hallazgos.</p>
  <% else %>
    <p><%= @operative_note.find %></p>
  <% end %>
</div>

<div class="col-md-12">
  <h2>Descripción</h2>
  <p><%= @operative_note.description %></p>
</div>

<div class="col-md-12">
  <h2>Diagnóstico</h2>
  <p><%= @operative_note.diagnostic %></p>
</div>
