<div class="col-md-12">
  <h1><%= "Historia ##{@record.id}" %></h1>

  <div class="col-md-9 new-panel main-panel">

    <h3 align="center">Récipes Médicos</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha de creación</th>
          <th>Medicamentos</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      <% @prescriptions.each do |prescription| %>
        <tr>
            <th scope="row" class="col-md-1"><%= prescription.id %></th>
            <td class="col-md-2"><%= "#{prescription.created_at.strftime("%d-%b-%Y")}" %></td>
            <td class="col-md-7"><%= prescription.medicines_list %></td>
            <td class="col-md-2"><%= link_to "Ver", prescription_path(prescription), class: 'btn btn-info' %></td>
        </tr>
        <p></p>
      <% end %>
      </tbody>
    </table>

    <div class="center">
      <%= will_paginate @prescription %>
    </div>

    <div class="col-md-4 col-md-offset-5">
      <%= link_to "Nuevo récipe", new_prescription_path(record: @record), class: 'btn btn-success modal-link' %>
    </div>

    <div class="col-md-12"><hr></div>

  </div>

  <!-- MENU LATERAL -->
  <%= render partial: 'medical_records/side_menu', locals: { record: @record } %>
</div>
