<div id="record-lookup">
  <% if @filter == 'new_consultation' %>
    <h3>Nueva Consulta - <small>Buscar historia</small></h3>
  <% elsif @filter == 'edit_record'%>
    <h3>Editar Historia - <small>Buscar historia</small></h3>
  <% elsif @filter == 'new_prescription'%>
    <h3>Nuevo Récipe - <small>Buscar historia</small></h3>
  <% end %>
  <%= form_tag search_records_path(filter: @filter), remote: true, method: :get, id: 'record-lookup-form' do %>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :search_param, params[:search_param], placeholder: "Nombre, Apellido o número de identificación",
          autofocus: true, class: 'form-control search-box input'%>
      </div>
      <div class="col-md-2">
        <%= button_tag(type: :submit, class: "btn btn-primary") do %>
          <i class="fa fa-search"></i> Buscar Historia
        <% end %>
      </div>
    </div>
  <% end #form_tag search_records_path%>
  <%= render 'common/spinner' %>
  <% if @records %>
    <% if @records.size > 0 %>
      <div id="record-lookup-results" class="results-block col-md-10">
        <table class="table table-hover col-md-12">
          <thead>
            <tr>
              <th>Identificación</th>
              <th>Nombre completo</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <% @records.each do |record| %>
              <tr>
                <td><%= record.full_id %></td>
                <td><%= record.full_name %></td>
                <td>
                  <% if @filter == 'new_consultation' %>
                    <%= link_to "Nueva consulta", new_consultation_path(record: record), class: 'btn btn-xs btn-success modal-link' %>
                  <% elsif @filter == 'edit_record'%>
                    <%= link_to "Editar", edit_medical_record_path(record), class: 'btn btn-xs btn-success modal-link' %>
                  <% elsif @filter == 'new_prescription'%>
                    <%= link_to "Nuevo récipe", new_prescription_path(record: record), class: 'btn btn-xs btn-success modal-link' %>
                  <% end %>
                </td>
              </tr>
            <% end #@records.each do |record|%>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="lead col-md-12">Ninguna historia coincide con este criterio de búsqueda</p>
    <% end #if @records.size > 0%>
  <% end #if @records%>
  <div id="record-lookup-errors" class=""></div>
</div>
