<div id="record-lookup">
  <!-- NUEVA CONSULTA -->
  <% if @filter == 'new_consultation' %>
    <h3>Nueva Consulta - <small>Buscar historia</small></h3>

  <!-- BUSCAR HISTORIA -->
  <% elsif @filter == 'search_record' %>
    <h3>Historia Médica - <small>Buscar historia</small></h3>

  <!-- NUEVO RECIPE -->
  <% elsif @filter == 'new_prescription' %>
    <h3>Récipe Médico- <small>Buscar historia</small></h3>

  <!-- NUEVA NOTA OPERATORIA -->
  <% elsif @filter == 'new_operative_note' %>
    <h3>Nota Operatoria - <small>Buscar historia</small></h3>

  <!-- NUEVO INFORME -->
  <% elsif @filter == 'new_report' %>
    <h3>Informe Médico - <small>Buscar historia</small></h3>

  <!-- NUEVO PRESUPUESTO -->
  <% elsif @filter == 'new_budget' %>
    <h3>Presupuesto Médico - Buscar historia </h3>
  <% end %>

  <%= form_tag search_records_path(filter: @filter), remote: true, method: :get, id: 'record-lookup-form' do %>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :search_param, params[:search_param], placeholder: "Nombre, Apellido o número de identificación",
          autofocus: true, class: 'form-control search-box input'%>
      </div>
      <div class="col-md-2">
        <%= button_tag(type: :submit, class: "btn btn-primary") do %>
          <i class="fa fa-search"></i> Buscar Historia
        <% end %>
      </div>
    </div>
  <% end #form_tag search_records_path%>
  <%= render 'common/spinner' %>
  <% if @records %>
    <% if @records.size > 0 %>
      <div id="record-lookup-results" class="results-block col-md-10">
        <table class="table table-hover col-md-12">
          <thead>
            <tr>
              <th>Identificación</th>
              <th>Nombre completo</th>
              <th>Última consulta</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <% @records.each do |record| %>
              <tr>
                <td class="col-md-2"><%= record.full_id %></td>
                <td class="col-md-4"><%= record.full_name %></td>
                <td class="col-md-2"><%= record.consultations.last.created_at.strftime("%d-%b-%Y") if !record.consultations.last.nil? %></td>
                <td class="col-md-4">
                  <!-- NUEVA CONSULTA -->
                  <% if @filter == 'new_consultation' %>
                    <%= link_to "Nueva consulta", new_consultation_path(record: record), class: 'btn btn-success modal-link' %>

                  <!-- BUSCAR HISTORIA -->
                  <% elsif @filter == 'search_record' %>
                    <%= link_to "Ver", medical_record_path(record), class: 'btn btn-primary modal-link' %>
                    <%= link_to "Editar", edit_medical_record_path(record), class: 'btn btn-success modal-link' %>

                  <!-- NUEVO RECIPE -->
                  <% elsif @filter == 'new_prescription' %>
                    <%= link_to "Nuevo récipe", new_prescription_path(record: record), class: 'btn btn-success modal-link' %>
                    <% if record.prescriptions.count > 0 %>
                      <%= link_to "Ver récipes (#{record.prescriptions.count})", prescriptions_path(record: record), class: 'btn btn-primary modal-link' %>
                    <% end %>

                  <!-- NUEVA NOTA OPERATORIA -->
                  <% elsif @filter == 'new_operative_note' %>
                    <%= link_to "Plan de emergencia", new_operative_note_path(record: record), class: 'btn btn-danger modal-link' %>

                  <!-- NUEVO INFORME -->
                  <% elsif @filter == 'new_report' %>
                    <%= link_to "Nuevo informe", select_data_path(record: record), class: 'btn btn-success modal-link' %>
                    <% if record.reports.count > 0 %>
                      <%= link_to "Ver informes (#{record.reports.count})", reports_path(record: record), class: 'btn btn-primary modal-link' %>
                    <% end %>

                  <!-- NUEVO PRESUPUESTO -->
                  <% elsif @filter == 'new_budget' %>
                    <%= link_to "Nuevo", new_budget_path(record: record), class: 'btn btn-success modal-link' %>
                    <% if record.budgets.count > 0 %>
                      <%= link_to "Ver presupuestos (#{record.budgets.count})", budgets_path(record: record), class: 'btn btn-primary modal-link' %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end #@records.each do |record|%>
          </tbody>
        </table>
        <%#= will_paginate @records %>
      </div>
    <% else %>
      <p class="lead col-md-12">Ninguna historia coincide con este criterio de búsqueda</p>
    <% end #if @records.size > 0%>
  <% end #if @records%>
  <div id="record-lookup-errors" class=""></div>
</div>
