<!-- OCCUPATION MODAL -->
<div class="modal fade" id="new-occupation-form" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Agregar Nueva Profesi贸n</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@occupation, remote: true) do |o| %>
          <%= o.label :Profesi贸n, class: 'form-control-label' %>
          <%= o.text_field :name, value: nil, class: 'form-control' %>
          <%= o.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- INSURANCE MODAL -->
<div class="modal fade" id="new-insurance-form" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Agregar Nuevo Seguro</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@insurance, remote: true) do |i| %>
          <%= i.label :Seguro, class: 'form-control-label' %>
          <%= i.text_field :name, value: nil, class: 'form-control' %>
          <%= i.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- ATTACHMENT MODAL -->
<div class="modal fade" id="new-attachment-form" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Anexos</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@attachment, remote: true) do |m| %>
          <h5>Nombre del archivo</h5>
          <%= m.text_field :description, value: nil, placeholder: 'Introduzca descripci贸n del anexo', class: 'form-control' %>
          <h5><br></h5>
          <%= m.file_field :url, class: 'form-control' %>
          <%= m.hidden_field :medical_record_id, value: @record.id %>
          <br>
          <%= m.submit class: 'btn btn-primary' %>
        <% end %>
        <hr>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Descripci贸n</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% @record.attachments.each do |attachment| %>
              <tr>
                <td><%= "#{attachment.id}" %></td>
                <td><%= "#{attachment.description}" %></td>
                <td>
                  <%= link_to "Ver", attachment_path(attachment.id), class: 'btn btn-info' %>
                  <%= link_to "Borrar", attachments_path(attachment.id), class: 'btn btn-danger', method: :delete, data: { confirm: "You sure?" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="center">
          <%= will_paginate @my_attachments if @my_attachments.present? %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
