<!-- Examen basico -->
<div class="col-md-4">
  <h4>Datos clínicos</h4>
  <% if record.physic_data["weight"] > 0 || record.physic_data["height"] > 0 || record.physic_data["pressure_s"] != "?" || record.physic_data["pressure_d"] != "?" %>
    <div class="col-md-2">
      <i><strong>Peso:</strong></i>
    </div>
    <div class="col-md-10">
      <p><%= "#{record.physic_data["weight"]} kg" if record.physic_data["weight"] > 0 %></p>
    </div>
    <div class="col-md-2">
      <i><strong>Talla:</strong></i>
    </div>
    <div class="col-md-10">
      <p><%= "#{record.physic_data["height"]/100} m" if record.physic_data["height"] > 0 %></p>
    </div>
    <div class="col-md-2">
      <i><strong>IMC:</strong></i>
    </div>
    <div class="col-md-10">
      <p><%= record.imc.round(2) if record.imc > 0 %></p>
    </div>
    <div class="col-md-3">
      <i><strong>Tensión:</strong></i>
    </div>
    <div class="col-md-9">
      <p><%= "#{record.physic_data["pressure_s"]}/#{record.physic_data["pressure_d"]} mmHg" %></p>
    </div>
  <% end %>
</div>

<!-- Antecedentes -->
<div class="col-md-8">
  <h4>Antecedentes</h4>
  <% record.backgrounds.each do |b| %>
    <div class="col-md-3">
      <i><strong><%= "#{b.type_es}:"%></strong></i>
    </div>
    <div class="col-md-9">
      <p><%= b.description %></p>
    </div>
  <% end %>
</div>

<!-- Diagnósticos -->
<div class="col-md-12">
  <h4>Diagnósticos</h4>
  <% record.diagnostics.each do |key, dhash| %>
    <div class="col-md-12">
      <% dhash.each do |d| %>
        <p><%= "(#{key}) - #{d.description}" %></p>
      <% end %>
    </div>
  <% end %>
</div>
