<div class="col-md-3">
  <h4>Profesión</h4>
  <p><%= record.occupation.name %></p>
</div>

<div class="col-md-3">
  <h4>Teléfonos</h4>
  <p><%= record.phone_number %></p>
  <p><%= record.cellphone_number %></p>
</div>

<div class="col-md-3">
  <h4>Correo</h4>
  <p><%= record.email %></p>
</div>

<div class="col-md-3">
  <h4>Seguro</h4>
  <p><%= record.insurance.name if record.insurance.present? %></p>
</div>

<div class="col-md-12">
  <h4>Dirección</h4>
  <p><%= record.address%></p>
</div>

<div class="col-md-3">
  <h4>Referido por</h4>
  <p><%= record.referred_by %></p>
</div>
