<div class="col-md-2 new-panel secondary-panel">
  <div class="col-md-12">
    <% if record.profile_picture.url.present? %>
      <%= image_tag(record.profile_picture.url, class: 'img-responsive img-circle') %>
    <% end %>
  </div>

  <div class="col-md-12"><hr></div>

  <div class="col-md-12">
    <h5><%= record.last_name %></h5>
  </div>
  <div class="col-md-12">
    <h5><%= record.full_id %></h5>
  </div>
  <div class="col-md-12">
    <h5><%= record.age.to_s + ' años' if record.birthday.present? %></h5>
  </div>

  <div class="col-md-12"><hr></div>

  <div class="col-md-12 center">
    <%# if params[:controller] == 'medical_records' && params[:action] == 'new' %>
    <% if record.id.nil? %>
      <h4 style="text-decoration: line-through;">Historia</h4>
      <hr>
      <% if current_user.role == "Doctor" %>
        <h4 style="text-decoration: line-through;">Nueva Consulta</h4>
        <hr>
      <% end %>
      <h4 style="text-decoration: line-through;">Anexos</h4>
      <hr>
      <h4 style="text-decoration: line-through;">Planes</h4>
      <hr>
      <h4 style="text-decoration: line-through;">Notas<br>Operatorias</h4>
      <hr>
      <h4 style="text-decoration: line-through;">Informes</h4>
      <hr>
      <h4 style="text-decoration: line-through;">Récipes</h4>
    <% else %>
      <h4><%= link_to "Historia", medical_record_path(record)%></h4>
      <hr>
      <% if current_user.role == "Doctor" %>
        <h4><%= link_to "Nueva Consulta", new_consultation_path(record: record), style: "color:#ff4c4c"%></h4>
        <hr>
      <% end %>
      <h4><%= link_to "Anexos ", attachments_path(record: record) %>(<%= record.attachments.count %>)</h4>
      <hr>
      <h4><%= link_to "Planes ", plans_path(record: record) %>(<%= record.plans.count %>)</h4>
      <br>
      <h4><%= link_to "Notas<br>Operatorias".html_safe, operative_notes_path(record: record) %>(<%= record.operative_notes.count %>)</h4>
      <hr>
      <h4><%= link_to "Informes ", reports_path(record: record) %>(<%= record.reports.count %>)</h4>
      <hr>
      <h4><%= link_to "Récipes ", prescriptions_path(record: record) %>(<%= record.prescriptions.count %>)</h4>
    <% end %>

    <!--
    <hr>
    <h4><a href="#" data-toggle="modal" data-target="#">Exámenes de<br>Laboratorio </a></h4>
    -->
    <br>
  </div>
</div>
