<h1>
  <%= "Historia ##{@record.id} " %>
  <span id="header_important_status">
    <% if @record.important %>
      <i id="header_important_star" class="fa fa-exclamation-circle" aria-hidden="true" style="color: #e74c3c"></i>
    <% end %>
  </span>
</h1>
<% if !@record.old_record_number.nil? %>
  <h4><%= "[#HV #{@record.old_record_number}]" %></h4>
<% end %>
<div class="col-md-12">
  <!-- HISTORIA -->
  <div class="col-md-9 new-panel main-panel">

    <div class="col-md-12">
      <%= link_to "Editar", edit_medical_record_path(@record), class: 'btn btn-lg btn-warning', style:'float:right; margin-top:10px; width:20%' %>
    </div>

    <div class="col-md-12">
      <%= link_to "Importante",
          "#{@record.id}/change_important_status",
          id: 'change_status_button',
          remote: true,
          method: :post,
          class: 'btn btn-lg btn-default',
          style:'float:right; margin-top:10px; width:20%' %>
    </div>

    <div class="col-md-12">
      <div class="col-md-3">
        <% if @record.profile_picture.url.present? %>
          <%= image_tag(@record.profile_picture.url, class: 'img-responsive img-circle', style: 'margin: 0 auto; width: 80%') %>
        <% else %>
          <%= image_tag('medrecords/noprofile.jpg', class: 'img-responsive img-circle', style: 'margin: 0 auto; width: 80%') %>
        <% end %>
      </div>
      <div class="col-md-9">
        <h2>
          <%= "#{@record.name} #{@record.last_name} " %>
          <span id="name_important_status">
            <% if @record.important %>
              <i id="name_important_star" class="fa fa-exclamation-circle" aria-hidden="true" style="color: #e74c3c"></i>
            <% end %>
          </span>
        </h2>
        <h4><%= @record.full_id %></h3>
        <h4><%= "Fecha de nacimiento: #{@record.birthday.strftime('%d %b %Y')} " %><strong><%= "(#{@record.age} años)" %></strong></h4>
        <h4><%= "Primera consulta: #{@record.first_consultation_date.strftime('%d %b %Y')}" %></h4>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-4 center">

    </div>

    <div class="col-md-12"><hr></div>

    <!-- INFORMACION BASICA -->
    <%= render partial: 'show_basic', locals: { record: @record } %>

    <div class="col-md-12"><hr></div>

    <!-- EXAMEN BASICO Y ANTECEDENTES -->
    <%= render partial: 'show_clinic_data', locals: { record: @record } %>

    <div class="col-md-12"><hr></div>

    <!-- CONSULTAS -->
    <%= render partial: 'show_consultations', locals: { consultations: @consultations } %>

    <div class="col-md-12"><hr></div>

  </div>

  <!-- MENU LATERAL -->
  <%= render partial: 'side_menu', locals: { record: @record } %>

  <%= render 'modals' %>

</div>
