<h1><%= "Historia ##{@record.id}" %></h1>
<div class="col-md-12">
  <!-- HISTORIA -->
  <div class="col-md-9 new-panel main-panel">
    <div class="col-md-2 col-md-offset-5">
      <% if @record.profile_picture.url.present? %>
        <%#= image_tag(@record.profile_picture.url, class: 'img-responsive img-circle') %>
      <% end %>
    </div>
    <div class="col-md-4 col-md-offset-4 center">
      <h4><%= "#{@record.name} #{@record.last_name}" %></h4>
      <h5><%= @record.full_id %></h5>
      <h6><%= "Fecha de nacimiento: #{@record.birthday} " %><strong><%= "(#{@record.age} años)" %></strong></h6>
      <h6><%= "Primera consulta: #{@record.first_consultation_date.strftime('%d %b %Y')}" %></h6>
    </div>

    <div class="col-md-12"><hr></div>

    <!-- INFORMACION BASICA -->
    <%= render partial: 'show_basic', locals: { record: @record   } %>

    <div class="col-md-12"><hr></div>

    <!-- EXAMEN BASICO Y ANTECEDENTES -->
    <!-- Examen basico -->
    <div class="col-md-6">
      <h4>Datos clínicos</h4>
      <% if @record.physic_data.present? %>
        <div class="col-md-2">
          <i><strong>Peso:</strong></i>
        </div>
        <div class="col-md-10">
          <p><%= @record.physic_data["weight"] if @record.physic_data["weight"] > 0 %> kg.</p>
        </div>
        <div class="col-md-2">
          <i><strong>Talla:</strong></i>
        </div>
        <div class="col-md-10">
          <p><%= @record.physic_data["height"]/100 if @record.physic_data["height"] > 0 %> m.</p>
        </div>
        <div class="col-md-2">
          <i><strong>IMC:</strong></i>
        </div>
        <div class="col-md-10">
          <p><%= @record.imc.round(2) if @record.imc > 0 %>.</p>
        </div>
        <div class="col-md-2">
          <i><strong>Tensión:</strong></i>
        </div>
        <div class="col-md-10">
          <p><%= "#{@record.physic_data["pressure_s"]}/#{@record.physic_data["pressure_d"]}" %> mm Hg</p>
        </div>
      <% end %>
    </div>
    <!-- Antecedentes -->
    <div class="col-md-6">
      <h4>Antecedentes</h4>
      <% @record.backgrounds.each do |b| %>
        <div class="col-md-4">
          <i><strong><%= "#{b[0]}:" if !b[1].empty?%></strong></i>
        </div>
        <div class="col-md-8">
          <% b[1].each do |bb| %>
            <p><%= bb %></p>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-md-12"><hr></div>
    <!-- CONSULTAS -->
    <div class="col-md-12">
      <h4>Consultas médicas</h4>
      <% @consultations.each do |consultation| %>
        <div class="row">
          <button type="button" name="button" class="consultation-button btn btn-link" data-button='<%= consultation.id %>'>
            <%= consultation.created_at.strftime('%d %b %Y') %>
          </button>
          <div class="col-md-12" id="consultation<%= consultation.id %>" style="display:none">
            <div class="well well-lg col-md-12">
              <div class="col-md-12">
                <%= link_to "Editar", root_path , class: 'btn btn-warning btn-xs', style: 'float:right;margin-bottom:20px;'  %>
              </div>
              <!-- Motivo de consulta -->
              <% if consultation.reason.present?  %>
                <div class="col-md-4">
                  <p><i><u><strong>Motivo de consulta:<br></strong></u></i><%= consultation.reason.description %></p>
                </div>
              <% end %>
              <!-- Enfermedad actúal -->
              <% if consultation.affliction.present?  %>
                <div class="col-md-4">
                  <p><i><u><strong>Enfermedad actúal:<br></strong></u></i><%= consultation.affliction %></p>
                </div>
              <% end %>
              <!-- Antecedentes -->
              <% if consultation.backgrounds.present?  %>
                <div class="col-md-12">
                  <p><i><u><strong>Antecedentes</strong></u></i></p>
                  <% consultation.backgrounds.each do |b| %>
                    <div class="col-md-4">
                      <p><strong><%= "#{b.type_es}:" if !b.description.blank?%></strong></p>
                      <p><small><%= b.description %></small></p>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- MENU LATERAL -->
  <%= render partial: 'side_menu', locals: { record: @record } %>
</div>
<% #render 'articles/article', obj: @category_articles %>
<div align="center">
  <% #will_paginate @category_articles %>
</div>
