<br>
<br>
<br>
<br>
<br>
<div class="col-md-12">
  <h2 style="float:right">Fecha: <%= @budget.created_at.strftime("%d-%b-%Y") %></h2>
  <h2 style="float:right"><%= @record.full_name %></h2>
  <h2 style="float:right"><%= @record.full_id %></h2>
</div>
<br>
<br>
<br>
<div class="col-md-12">
  <h1>Presupuesto</h1>
</div>

<div class="col-md-12">
  <h2>-Procedimientos</h2>
  <ul>
    <% @procedures.each do |pc| %>
      <li style="list-style-type: circle;"><p><%= pc.name %> &mdash; <strong><%= pc.cost_in_budget(@budget) %> BsF.</strong></p></li>
    <% end %>
  </ul>
</div>

<div class="col-md-12">
  <h2>-Equipos</h2>
  <ul>
    <% @equipments.each do |eq| %>
      <li style="list-style-type: circle;"><p><%= eq.name %> &mdash; <strong><%= eq.cost_in_budget(@budget) %> BsF.</strong></p></li>
    <% end %>
  </ul>
</div>

<br>
<br>

<div class="col-md-12">
  <h2>Costo total</h2>
  <h3><%= @budget.cost %> BsF.</h3>
</div>
