<div class="col-md-12">
  <h1><%= "Historia ##{@record.id}" %></h1>

  <div class="col-md-9 new-panel main-panel">

    <h3 align="center">Presupuestos pasados</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha de creación</th>
          <th>Procedimientos</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      <% @budgets.each do |budget| %>
        <tr>
            <th scope="row" class="col-md-1"><%= budget.id %></th>
            <td class="col-md-2"><%= "#{budget.created_at.strftime("%d-%b-%Y")}" %></td>
            <td class="col-md-5">
              <ul>
                <% budget.procedures.each do |p| %>
                  <li><%= p.name %></li>
                <% end %>
              </ul>
            </td>
            <td class="col-md-3"><%= budget.cost %> BsF.</td>
            <td class="col-md-1"><%= link_to "Ver", budget_path(budget), class: 'btn btn-info' %></td>
        </tr>
        <p></p>
      <% end %>
      </tbody>
    </table>

    <div class="center">
      <%= will_paginate @budgets %>
    </div>

    <div class="col-md-6 col-md-offset-3">
      <%= link_to "Nuevo presupuesto", new_budget_path(record: @record), class: 'btn btn-success modal-link' %>
    </div>

    <div class="col-md-12"><hr></div>

  </div>

  <!-- MENU LATERAL -->
  <%= render partial: 'medical_records/side_menu', locals: { record: @record } %>
</div>
