<div class="form-group col-md-12">
  <h3>Antecedentes</h3>
  <div class="col-md-4">
    <h4><i>Familiares</i></h4>
    <%= text_area(
        :background,
        :family,
        rows: '3',
        class: 'form-control',
        onkeydown: 'javascript:blockCharacters(this)',
        onkeypressed: 'javascript:blockCharacters(this)',
        onkeyup: 'javascript:blockCharacters(this)',
        onblur: 'javascript:validateTextArea(this)') %>
  </div>
  <div class="col-md-4">
    <h4><i>Alergias</i></h4>
    <%= text_area(
        :background,
        :allergy,
        rows: '3',
        class: 'form-control',
        onkeydown: 'javascript:blockCharacters(this)',
        onkeypressed: 'javascript:blockCharacters(this)',
        onkeyup: 'javascript:blockCharacters(this)',
        onblur: 'javascript:validateTextArea(this)') %>
  </div>
  <div class="col-md-4">
    <h4><i>Diábetes</i></h4>
    <%= text_area(
        :background,
        :diabetes,
        rows: '3',
        class: 'form-control',
        onkeydown: 'javascript:blockCharacters(this)',
        onkeypressed: 'javascript:blockCharacters(this)',
        onkeyup: 'javascript:blockCharacters(this)',
        onblur: 'javascript:validateTextArea(this)') %>
  </div>
</div>
<div class="form-group col-md-12">
  <div class="col-md-4">
    <h4><i>Asma</i></h4>
    <%= text_area(
        :background,
        :asthma,
        rows: '3',
        class: 'form-control',
        onkeydown: 'javascript:blockCharacters(this)',
        onkeypressed: 'javascript:blockCharacters(this)',
        onkeyup: 'javascript:blockCharacters(this)',
        onblur: 'javascript:validateTextArea(this)') %>
  </div>
  <div class="col-md-4">
    <h4><i>Cardiopatías</i></h4>
    <%= text_area(
        :background,
        :heart,
        rows: '3',
        class: 'form-control',
        onkeydown: 'javascript:blockCharacters(this)',
        onkeypressed: 'javascript:blockCharacters(this)',
        onkeyup: 'javascript:blockCharacters(this)',
        onblur: 'javascript:validateTextArea(this)') %>
  </div>
  <div class="col-md-4">
    <h4><i>Medicamentos</i></h4>
    <%= text_area(
        :background,
        :medicine,
        rows: '3',
        class: 'form-control',
        onkeydown: 'javascript:blockCharacters(this)',
        onkeypressed: 'javascript:blockCharacters(this)',
        onkeyup: 'javascript:blockCharacters(this)',
        onblur: 'javascript:validateTextArea(this)') %>
  </div>
</div>
<div class="form-group col-md-12">
  <div class="col-md-6">
    <h4><i>Quirúrgicos</i></h4>
    <%= text_area(
        :background,
        :surgical,
        rows: '3',
        class: 'form-control',
        onkeydown: 'javascript:blockCharacters(this)',
        onkeypressed: 'javascript:blockCharacters(this)',
        onkeyup: 'javascript:blockCharacters(this)',
        onblur: 'javascript:validateTextArea(this)') %>
  </div>
  <div class="col-md-6">
    <h4><i>Otros</i></h4>
    <%= text_area(
        :background,
        :other,
        rows: '3',
        class: 'form-control',
        onkeydown: 'javascript:blockCharacters(this)',
        onkeypressed: 'javascript:blockCharacters(this)',
        onkeyup: 'javascript:blockCharacters(this)',
        onblur: 'javascript:validateTextArea(this)') %>
  </div>
</div>
