<div class="form-group col-md-12">
  <div class="col-md-12">
    <h4>Diagn贸stico <span style="font-size: 12px; color:#cc0000">(Recuerde seleccionar un diagn贸stico y luego presionar "Agregar a la lista")</span></h4>
    <div class="col-md-10">
      <%= select_tag "diagnostics_select",
          options_from_collection_for_select(Diagnostic.all.order(description: :asc), :id, :description),
          include_blank: 'N/A',
          class: 'form-control' %>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-success consultation_add_diagnostic_button">Agregar a la lista</button>
    </div>
    <div class="col-md-12">
      <a href="#" data-toggle="modal" data-target="#new-diagnostic-modal">Agregar nuevo diagn贸stico</a>
    </div>
  </div>

  <div class="col-md-12"><br></div> <!-- separador -->

  <div class="col-md-12">
    <div class="consultation_diagnostics_data_wrap">
      <!-- hidden inputs -->
      <% @consultation.diagnostics.each do |d|  %>
        <input type="hidden" id="DATAdiagnostic<%= d.id %>" name="diagnostics[]" value="<%= d.id %>" class="form-control">
      <% end %>
    </div>
    <div class="col-md-10 consultation_diagnostics_wrap">
      <div class="col-md-12">
        <%= label(:diagnostic, :title, "Diagn贸sticos agregados:", class: 'form-control-label') %>
      </div>
      <!-- inputs -->
      <% @consultation.diagnostics.each do |d|  %>
        <div id="UIdiagnostic<%= d.id %>">
          <div class="col-md-8 form-group" style="margin-right:0; margin-left:0">
            <input type="text" name="diagnostics_name[]" value="<%= d.description %>" class="form-control" disabled="">
          </div>
          <div class="col-md-1 form-group">
            <button type="button" name="button" value="<%= d.id %>" class="btn btn-danger remove_diagnostic_button">X</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
