<%= render 'shared/errors', obj: @consultation %>
<div class="col-md-9 new-panel main-panel">

  <h3 align="center"><strong>Consulta Médica</strong></h3>

  <div class="col-md-12"><hr></div>

  <%= form_for(@consultation, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>

    <input type="hidden" name="record" value="<%= @record.id %>">

    <!-- INFO BASICA (motivo de consulta y enfermedad actual). -->
    <%= render partial: 'basic_info', locals: { f: f } %>

    <div class="col-md-12"><hr></div>

    <!-- ANTECEDENTES. -->
    <%= render partial: 'backgrounds', locals: { f: f } %>

    <div class="col-md-12"><hr></div>

    <!-- EXAMEN BÁSICO. -->
    <%= render partial: 'basic_exam', locals: { f: f } %>

    <div class="col-md-12"><hr></div>

    <!-- EXAMEN FÍSICO -->
    <%= render partial: 'physical_exam', locals: { f: f } %>

    <div class="col-md-12"><hr></div>

    <!-- EVOLUCIÓN. -->
    <%= render partial: 'evolution', locals: { f: f } %>

    <!-- NOTAS. -->
    <%= render partial: 'note', locals: { f: f } %>

    <!-- DIAGNOSTICO. -->
    <%= render partial: 'diagnostic', locals: { f: f } %>

    <div class="col-md-12"><hr></div>

    <!-- PLAN. -->
    <div class="form-group col-md-12">
      <h4><i>Plan</i></h4>
      <div class="col-md-12">
        <%= f.label :Descripción_del_plan, class: 'form-control-label' %>
        <%= text_area(:plan, :description, rows: '4', class: 'form-control') %>

        <div class="col-md-10">
          <%= label(:procedure, :title, "Procedimiento(s)", class: 'form-control-label') %>
          <%= select_tag "procedures", options_from_collection_for_select(Procedure.all, :id, :name), include_blank: 'N/A', class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <br>
          <button type="button" class="btn btn-info add_select_button">Agregar</button>
        </div>
        <div class="col-md-12">
          <a href="#" data-toggle="modal" data-target="#new-procedure-form">Agrear nuevo procedimiento</a>
        </div>

        <div class="procedures_data_wrap">
          <!-- hidden inputs -->
        </div>
        <div class="col-md-10 procedures_wrap">
          <!-- inputs -->
        </div>

      </div>
    </div>
    <!-- OPERACIONES. -->

    <div class='form-group center'>
      <div class='col-md-offset-4 col-md-4'>
        <%= f.submit class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  <% end %>
</div>

<div class="col-md-2 new-panel secondary-panel">
  <p>Perfil paciente</p>
</div>

<div class="col-xs-4 col-xs-offset-4">
  [ <%= link_to 'Cancel request an return to records listing', medical_records_path  %> ]
</div>

<!-- EXAMEN FÍSICO -->
<%= render 'modals'%>
