<%= render 'shared/errors', obj: @consultation %>
<div class="col-md-9 new-panel main-panel">

  <% if params[:action] == 'edit' %>
    <h3 align="center"><strong>Editar Consulta Médica</strong></h3>
  <% elsif params[:action] == 'new' %>
    <h3 align="center"><strong>Consulta Médica</strong></h3>
  <% end %>

  <div class="col-md-12"><hr></div>

  <%= form_for(@consultation, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>

    <input type="hidden" name="record" value="<%= @record.id %>">

    <!-- INFO BASICA (motivo de consulta y enfermedad actual). -->
    <%= render partial: 'basic_info', locals: { f: f } %>

    <div class="col-md-12"><hr></div>

    <!-- ANTECEDENTES. -->
    <% if params[:action] == 'new' || params[:action] == "create" %>
      <%= render partial: 'backgrounds', locals: { f: f } %>
    <% end %>

    <div class="col-md-12"><hr></div>

    <!-- EXAMEN BÁSICO. -->
    <%= render partial: 'basic_exam', locals: { f: f } %>

    <div class="col-md-12"><hr></div>

    <!-- EXAMEN FÍSICO -->
    <%= render partial: 'physical_exam', locals: { f: f, consultation: @consultation } %>

    <div class="col-md-12"><hr></div>

    <!-- EVOLUCIÓN. -->
    <%= render partial: 'evolution', locals: { f: f } %>

    <!-- NOTAS. -->
    <%= render partial: 'note', locals: { f: f } %>

    <!-- DIAGNOSTICO. -->
    <%= render partial: 'diagnostic', locals: { f: f } %>

    <div class="col-md-12"><hr></div>

    <!-- PLAN. -->
    <% if params[:action] == 'new' %>
      <%= render partial: 'plan', locals: { f: f, consultation: @consultation } %>
    <% end %>

    <div class='form-group center'>
      <div class='col-md-offset-4 col-md-4'>
        <%= f.submit class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: 'medical_records/side_menu', locals: { record: @record } %>

<div class="col-xs-4 col-xs-offset-4">
  [ <%= link_to 'Cancel request an return to records listing', medical_records_path  %> ]
</div>

<!-- EXAMEN FÍSICO -->
<%= render 'modals'%>
