<% if normal %>
  <div class="col-md-3">
    <label style="font-style:italic">Normal
      <input id="<%= exam %>_normal" name="physical[<%= exam %>]" type="radio" value="0" checked onclick="javascript:normalAbnormalCheck('<%= exam %>');" />
    </label>
  </div>
  <div class="col-md-3">
    <label style="font-style:italic">Anormal
      <input id="<%= exam %>_abnormal" name="physical[<%= exam %>]" type="radio" value="1" onclick="javascript:normalAbnormalCheck('<%= exam %>');" />
    </label>
  </div>
<% else %>
  <div class="col-md-3">
    <label style="font-style:italic">Normal
      <input id="<%= exam %>_normal" name="physical[<%= exam %>]" type="radio" value="0" onclick="javascript:normalAbnormalCheck('<%= exam %>');" />
    </label>
  </div>
  <div class="col-md-3">
    <label style="font-style:italic">Anormal
      <input id="<%= exam %>_abnormal" name="physical[<%= exam %>]" type="radio" value="1" checked onclick="javascript:normalAbnormalCheck('<%= exam %>');" />
    </label s>
  </div>
<% end %>
