<!-- REASON MODAL -->
<div class="modal fade" id="new-reason-form" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Agregar Nuevo Motivo de Consulta</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@reason, remote: true) do |r| %>
          <%= r.label :Motivo_De_Consulta, class: 'form-control-label' %>
          <%= r.text_field :description, value: nil, class: 'form-control' %>
          <%= r.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- DIAGNOSTIC MODAL-->
<div class="modal fade" id="new-diagnostic-form" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Agregar Nuevo Diagn贸stico</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@diagnostic, remote: true) do |d| %>
          <%= d.label :Diagn贸stico, class: 'form-control-label' %>
          <%= d.text_field :description, value: nil, class: 'form-control' %>
          <%= d.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- PROCEDURE MODAL-->
<div class="modal fade" id="new-procedure-form" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Agregar Nuevo Procedimiento</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@procedure, remote: true) do |p| %>
          <%= p.label :Procedimiento, class: 'form-control-label' %>
          <%= p.text_field :name, value: nil, class: 'form-control' %>
          <%= p.text_area :description, rows: '2', value: nil, class: 'form-control' %>
          <%= p.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ATTACHMENT MODAL -->
<div class="modal fade" id="new-attachment-form" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Anexos</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@attachment, remote: true) do |m| %>
          <h5>Nombre del archivo</h5>
          <%= m.text_field :description, value: nil, placeholder: 'Introduzca descripci贸n del anexo', class: 'form-control' %>
          <h5><br></h5>
          <%= m.file_field :url, class: 'form-control' %>
          <%= m.hidden_field :medical_record_id, value: @record.id %>
          <br>
          <%= m.submit class: 'btn btn-primary' %>
        <% end %>
        <hr>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Descripci贸n</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% @record.attachments.each do |attachment| %>
              <tr>
                <td><%= "#{attachment.id}" %></td>
                <td><%= "#{attachment.description}" %></td>
                <td>
                  <a href="<%= attachment.url%>" target="_blank", class="btn btn-info">Ver</a>
                  <%= link_to "Borrar", attachments_path(attachment.id), class: 'btn btn-danger', method: :delete, data: { confirm: "You sure?" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="center">
          <%= will_paginate @my_attachments if @my_attachments.present? %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
