<div class="form-group col-md-12">
  <h4><i>Examen Físico</i></h4>

  <!-- CABEZA Y CUELLO -->
  <div class="col-md-8">
    <div class="col-md-4">
      <%= f.label :Cabeza_y_Cuello, class: 'form-control-label' %>
    </div>
    <!-- check normalidad -->
    <% if consultation.physical_exams_dict['Head and Neck'].empty? %>
      <%= render partial: 'inputs_check', locals: { normal: true, exam: 'cc' } %>
    <% else %>
      <%= render partial: 'inputs_check', locals: { normal: false, exam: 'cc' } %>
    <% end %>
  </div>
  <!-- descripcion + esquema -->
  <div id="if_cc_abnormal" class="col-md-12" style="<%= 'display:none' if consultation.physical_exams_dict['Head and Neck'].empty? %>">
    <div class="col-md-6">
      <%= text_area_tag('physical_description[cc]', consultation.physical_exams_dict["Head and Neck"], rows: '3', class: 'form-control') %>
    </div>
  </div>


  <!-- TORAX -->
  <div class="col-md-8">
    <div class="col-md-4">
      <%= f.label :Torax, class: 'form-control-label' %>
    </div>
    <!-- check normalidad -->
    <% if consultation.physical_exams_dict['Chest'].empty? %>
      <%= render partial: 'inputs_check', locals: { normal: true, exam: 'tx' } %>
    <% else %>
      <%= render partial: 'inputs_check', locals: { normal: false, exam: 'tx' } %>
    <% end %>
  </div>
  <!-- descripcion + esquema -->
  <div id="if_tx_abnormal" class="col-md-12" style="<%= 'display:none' if consultation.physical_exams_dict['Chest'].empty? %>">
    <div class="col-md-6">
      <%= text_area_tag('physical_description[tx]', consultation.physical_exams_dict["Chest"], rows: '3', class: 'form-control') %>
    </div>
  </div>


  <!-- ABDOMEN -->
  <div class="col-md-8">
    <div class="col-md-4">
      <%= f.label :Abdomen, class: 'form-control-label' %>
    </div>
    <!-- check normalidad -->
    <% if consultation.physical_exams_dict['Abdomen'].empty? %>
      <%= render partial: 'inputs_check', locals: { normal: true, exam: 'ab' } %>
    <% else %>
      <%= render partial: 'inputs_check', locals: { normal: false, exam: 'ab' } %>
    <% end %>
  </div>
  <!-- descripcion + esquema -->
  <div id="if_ab_abnormal" class="col-md-12" style="<%= 'display:none' if consultation.physical_exams_dict['Abdomen'].empty? %>">
    <div class="col-md-6">
      <%= text_area_tag('physical_description[ab]', consultation.physical_exams_dict["Abdomen"], rows: '3', class: 'form-control') %>
    </div>
  </div>


  <!-- GENITALES -->
  <div class="col-md-8">
    <div class="col-md-4">
      <%= f.label :genitales, class: 'form-control-label' %>
    </div>
    <!-- check normalidad -->
    <% if consultation.physical_exams_dict['Genitals'].empty? %>
      <%= render partial: 'inputs_check', locals: { normal: true, exam: 'gn' } %>
    <% else %>
      <%= render partial: 'inputs_check', locals: { normal: false, exam: 'gn' } %>
    <% end %>
  </div>
  <!-- descripcion + esquema -->
  <div id="if_gn_abnormal" class="col-md-12" style="<%= 'display:none' if consultation.physical_exams_dict['Genitals'].empty? %>">
    <div class="col-md-6">
      <%= text_area_tag('physical_description[gn]', consultation.physical_exams_dict["Genitals"], rows: '3', class: 'form-control') %>
    </div>
  </div>


  <!-- PARTES BLANDAS -->
  <div class="col-md-8">
    <div class="col-md-4">
      <%= f.label :Partes_Blandas, class: 'form-control-label' %>
    </div>
    <!-- check normalidad -->
    <% if consultation.physical_exams_dict['Soft Parts'].empty? %>
      <%= render partial: 'inputs_check', locals: { normal: true, exam: 'pb' } %>
    <% else %>
      <%= render partial: 'inputs_check', locals: { normal: false, exam: 'pb' } %>
    <% end %>
  </div>
  <!-- descripcion + esquema -->
  <div id="if_pb_abnormal" class="col-md-12" style="<%= 'display:none' if consultation.physical_exams_dict['Soft Parts'].empty? %>">
    <div class="col-md-6">
      <%= text_area_tag('physical_description[pb]', consultation.physical_exams_dict["Soft Parts"], rows: '3', class: 'form-control') %>
    </div>
  </div>


  <!-- EXTREMIDADES -->
  <div class="col-md-8">
    <div class="col-md-4">
      <%= f.label :extremidades, class: 'form-control-label' %>
    </div>
    <!-- check normalidad -->
    <% if consultation.physical_exams_dict['Extremities'].empty? %>
      <%= render partial: 'inputs_check', locals: { normal: true, exam: 'ex' } %>
    <% else %>
      <%= render partial: 'inputs_check', locals: { normal: false, exam: 'ex' } %>
    <% end %>
  </div>
  <!-- descripcion + esquema -->
  <div id="if_ex_abnormal" class="col-md-12" style="<%= 'display:none' if consultation.physical_exams_dict['Extremities'].empty? %>">
    <div class="col-md-6">
      <%= text_area_tag('physical_description[ex]', consultation.physical_exams_dict["Extremities"], rows: '3', class: 'form-control') %>
    </div>
  </div>


  <!-- VASCULAR -->
  <div class="col-md-8">
    <div class="col-md-4">
      <%= f.label :vascular, class: 'form-control-label' %>
    </div>
    <!-- check normalidad -->
    <% if consultation.physical_exams_dict['Vascular'].empty? %>
      <%= render partial: 'inputs_check', locals: { normal: true, exam: 'vs' } %>
    <% else %>
      <%= render partial: 'inputs_check', locals: { normal: false, exam: 'vs' } %>
    <% end %>
  </div>
  <!-- descripcion + esquema -->
  <div id="if_vs_abnormal" class="col-md-12" style="<%= 'display:none' if consultation.physical_exams_dict['Vascular'].empty? %>">
    <div class="col-md-6">
      <%= text_area_tag('physical_description[vs]', consultation.physical_exams_dict["Vascular"], rows: '3', class: 'form-control') %>
    </div>
  </div>


  <!-- PIEL -->
  <div class="col-md-8">
    <div class="col-md-4">
      <%= f.label :piel, class: 'form-control-label' %>
    </div>
    <!-- check normalidad -->
    <% if consultation.physical_exams_dict['Skin'].empty? %>
      <%= render partial: 'inputs_check', locals: { normal: true, exam: 'pl' } %>
    <% else %>
      <%= render partial: 'inputs_check', locals: { normal: false, exam: 'pl' } %>
    <% end %>
  </div>
  <!-- descripcion + esquema -->
  <div id="if_pl_abnormal" class="col-md-12" style="<%= 'display:none' if consultation.physical_exams_dict['Skin'].empty? %>">
    <div class="col-md-6">
      <%= text_area_tag('physical_description[pl]', consultation.physical_exams_dict["Skin"], rows: '3', class: 'form-control') %>
    </div>
  </div>


  <!-- MAMAS -->
  <div class="col-md-8">
    <div class="col-md-4">
      <%= f.label :mamas, class: 'form-control-label' %>
    </div>
    <!-- check normalidad -->
    <% if consultation.physical_exams_dict['Mamma'].empty? %>
      <%= render partial: 'inputs_check', locals: { normal: true, exam: 'mm' } %>
    <% else %>
      <%= render partial: 'inputs_check', locals: { normal: false, exam: 'mm' } %>
    <% end %>
  </div>
  <!-- descripcion + esquema -->
  <div id="if_mm_abnormal" class="col-md-12" style="<%= 'display:none' if consultation.physical_exams_dict['Mamma'].empty? %>">
    <div class="col-md-6">
      <%= text_area_tag('physical_description[mm]', consultation.physical_exams_dict["Mamma"], rows: '3', class: 'form-control') %>
    </div>
  </div>


  <!-- OTROS -->
  <div class="col-md-8">
    <div class="col-md-4">
      <%= f.label :otros, class: 'form-control-label' %>
    </div>
    <!-- check normalidad -->
    <% if consultation.physical_exams_dict['Others'].empty? %>
      <%= render partial: 'inputs_check', locals: { normal: true, exam: 'otros' } %>
    <% else %>
      <%= render partial: 'inputs_check', locals: { normal: false, exam: 'otros' } %>
    <% end %>
  </div>
  <!-- descripcion + esquema -->
  <div id="if_otros_abnormal" class="col-md-12" style="<%= 'display:none' if consultation.physical_exams_dict['Others'].empty? %>">
    <div class="col-md-6">
      <%= text_area_tag('physical_description[otros]', consultation.physical_exams_dict["Others"], rows: '3', class: 'form-control') %>
    </div>
  </div>

</div>
