<%= render 'shared/errors', obj: @attachment %>
<div class="col-md-9 new-panel main-panel">

  <h3 align="center"><strong>Nuevo Anexo</strong></h3>

  <div class="col-md-12"><hr></div>

  <%= form_for(@attachment, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>

    <input type="hidden" name="record" value="<%= @record.id %>">

    <h4>Descripción</h4>
    <div class="form-group col-md-12">
      <div class="col-md-12">
        <%= f.text_field :description,
            value: nil,
            placeholder: 'Introduzca descripción del anexo',
            autofocus: true,
            class: 'form-control',
            pattern: TEXT_FIELD_REGEX,
            onchange: 'javascript:validateTextField(this)',
            required: true %>
      </div>
    </div>

    <div class="form-group col-md-12">
      <div class="col-md-12">
        <%= f.file_field :url,
            class: 'form-control',
            accept: 'file_extension/.pdf,.doc,.docx|image/.jpg,.jpeg,.png,.gif|',
            required: true %>
      </div>
    </div>

    <div class='form-group center'>
      <div class='col-md-offset-4 col-md-4'>
        <%= f.submit value: 'Guardar Anexo', class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: 'medical_records/side_menu', locals: { record: @record } %>
