<h1 align="center">Administración</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Identificación</th>
        <th>Nombre(s)</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @assistants.each do |assistant| %>
        <tr>
          <td><%= "#{assistant.document}" %></td>
          <td><%= "#{assistant.full_name}" %></td>
          <td><%= "#{assistant.role}" %></td>
          <td>

            <%= link_to "Ver", users_admin_path(assistant), class: 'btn btn-info' %>
            <%= link_to "Eliminar", admin_destroy_user_path(assistant), class: 'btn btn-danger', method: :delete, data: { confirm: "¿Está seguro de que quiere eliminar a este asistente?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="center">
    <%= will_paginate @assistants %>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Agregar Personal", new_users_admin_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
