<% if current_user.role != "Doctor" %>
  <% icon_style = "font-size:150pt;" %>
<% else %>
  <% icon_style = "font-size:120pt;" %>
<% end %>

<div class="container home center">
  <div class="row align-middle">
    <!-- VISTA DE DOCTOR -->
    <% if current_user.role == "Doctor" %>
      <div class="col-md-4">
        <%= link_to search_path(model: 'medical_record', filter:'search_record') do %>
          <i class="fa fa-file-text-o" style="<%= icon_style %>"></i>
          <hr>
          <h4>BUSCAR HISTORIA</h4>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to search_path(model: 'medical_record', filter:'new_consultation') do %>
          <i class="fa fa-stethoscope" style="<%= icon_style %>"></i>
          <hr>
          <h4>CONSULTA</h4>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to new_medical_record_path do %>
          <i class="fa fa-user-plus" style="<%= icon_style %>"></i>
          <hr>
          <h4>CREAR HISTORIA</h4>
        <% end %>
      </div>

    <!-- VISTA DE ASISTENTE -->
    <% else %>
      <div class="col-md-5 col-md-offset-1 center">
        <%= link_to new_medical_record_path do %>
          <i class="fa fa-user-plus" style="<%= icon_style %>"></i>
          <hr>
          <h4>CREAR HISTORIA</h4>
        <% end %>
      </div>
      <div class="col-md-5">
        <%= link_to search_path(model: 'medical_record', filter:'search_record') do %>
          <i class="fa fa-pencil-square-o" style="<%= icon_style %>"></i>
          <hr>
          <h4>BUSCAR HISTORIA</h4>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
