<div class="login center">

  <%= image_tag('logo/png/drzilla_logo_color.png', class: 'login-logo') %>

  <br>
  <br>

  <div class="center">
  	<p style="color:#666666">Se enviar치 una nueva contrase침a a tu correo con la cual podr치s volver a ingresar a DoctorZilla</p>
  </div>

	<br>

	<%= form_tag("/send_new_password", method: "post") do %>
    <div class="form-group">
      <%= email_field_tag 'email', nil, autofocus: true, class: 'form-control login-input-field', placeholder: "Email asociado a la cuenta" %>
    </div>
    <%= button_tag(type: :submit, class: "btn btn-primary login-button") do %>
      Enviar
    <% end %>
  <% end %>

	<br>

  <%= link_to "Volver a inicio de sesi칩n", root_path %>

</div>