<div class="login center">
  <%= image_tag('logo/png/drzilla_logo_color.png', class: 'login-logo') %>
  <br>
  <br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, class: 'form-control login-input-field', placeholder: "Email"%>
    </div>
    <div class="form-group">
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control login-input-field', placeholder: "Contraseña"%>
    </div>
    <%= f.submit  t('.inicar_sesion', default: 'Iniciar sesión'), class: 'btn btn-primary login-button' %>
  <% end %>
  <br>
  <%= link_to t('.olvido_su_contraseña', default: '¿Olvidó su contraseña?'), new_password_path(resource_name) %><br />
</div>


<%= image_tag('1.jpeg') %>
<%= image_tag('2.jpeg') %>
<%= image_tag('3.jpeg') %>
<%= image_tag('4.jpeg') %>
