<div id="record-lookup">
  <% if @filter == 'new_operative_note' %>
    <h3>Nota Operatoria - <small>Buscar Plan</small></h3>
  <% end %>
  <%= form_tag search_plans_path(filter: @filter), remote: true, method: :get, id: 'record-lookup-form' do %>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :search_param, params[:search_param], placeholder: "Nombre, Apellido o número de identificación",
          autofocus: true, class: 'form-control search-box input'%>
      </div>
      <div class="col-md-2">
        <%= button_tag(type: :submit, class: "btn btn-primary") do %>
          <i class="fa fa-search"></i> Buscar Plan
        <% end %>
      </div>
    </div>
  <% end #form_tag search_records_path%>
  <%= render 'common/spinner' %>
  <% if @plans %>
    <% if @plans.size > 0 %>
      <div id="record-lookup-results" class="results-block col-md-12">
        <table class="table table-hover col-md-12">
          <thead>
            <tr>
              <th>Identificación</th>
              <th>Nombre completo</th>
              <th>Descripcion del Plan</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <% @plans.each do |plan| %>
              <tr>
                <td class="col-md-2"><%= plan.consultation.medical_record.full_id %></td>
                <td class="col-md-3"><%= plan.consultation.medical_record.full_name %></td>
                <td class="col-md-5"><%= plan.description %></td>
                <td class="col-md-2">
                  <% if plan.operative_note.nil? %>
                    <%= link_to "Crear Nota Operatoria", new_operative_note_path(plan: plan), class: 'btn btn-success modal-link' %>
                  <% else %>
                    <%= link_to "Ver Nota Operatoria", operative_note_path(plan), class: 'btn btn-primary modal-link' %>
                  <% end %>
                </td>
              </tr>
            <% end #@plans.each do |record|%>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="lead col-md-12">Ninguna historia que coincida con el criterio de búsqueda posee un plan.</p>
    <% end #if @plans.size > 0%>
  <% end #if @plans%>
  <div id="record-lookup-errors" class=""></div>
</div>
